:root {
    --button-height: 1.5rem;
    --button-color: #edd;
}

html {
    font-size: 30px;
}

body, html {
    padding: 0;
    margin: 0;
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    position: relative;
    width: 300px;
    height: 300px;
    border: 2px solid white;
}

.dot {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: black;
    top: 100%;
    left: 0%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: linear-gradient(to top, #0060C4, transparent);
    z-index: 1;
}

.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 35px;
    font-family: Arial, sans-serif;
    opacity: 0;
    transition: opacity 400ms ease-in-out;
    z-index: 1;
}

.countdown {
    position: absolute;
    top: 50px;
    font-size: 50px;
    color: white;
    display: none;
}
